<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    {% if user.is_authenticated %}
    <!-- <div class="sidebar-profile bg-info d-md-none d-lg-block">
      <div class="sidebar-profile-circle bg-light">{{request.user.email|make_list|first}}</div>
      <div class="sidebar-profile-email bg-primary">
        <span>{{request.user.email|slice:"-10"}}</span>
      </div>
    </div> -->
    {% endif %}
    <ul class="nav">
        <li class="nav-item {{dashboard}}">
            <a class="nav-link" href="{% url 'school_dashboard' %}">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

        <li class="nav-item {{applications}}">
            <a class="nav-link" href="{% url 'applications' %}">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Student Applications</span>
            </a>
        </li>

        <li class="nav-item {{school_info}}">
            <a class="nav-link" href="{% url 'school_info' %}">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">School Information</span>
            </a>
        </li>

        <li class="nav-item {{school_facilities}}">
            <a class="nav-link" href="{% url 'school_facilities' %}">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">School Facilities</span>
            </a>
        </li>

        <li class="nav-item {{school_fame}}">
            <a class="nav-link" href="{% url 'school_fame' %}">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Hall of fame</span>
            </a>
        </li>

        <li class="nav-item {{school_gallery}}">
            <a class="nav-link" href="{% url 'school_gallery' %}">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">School Gallery</span>
            </a>
        </li>

    </ul>
</nav>
<!-- partial -->