<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    {% if user.is_authenticated %}
    <!-- <div class="sidebar-profile bg-info d-md-none d-lg-block">
      <div class="sidebar-profile-circle bg-light">{{request.user.email|make_list|first}}</div>
      <div class="sidebar-profile-email bg-primary">
        <span>{{request.user.email|slice:"-10"}}</span>
      </div>
    </div> -->
    {% endif %}
    <ul class="nav">
        <li class="nav-item {{ dashboard }}">
            <a class="nav-link" href="{% url 'my_account'%}">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

        <li class="nav-item {{ profile }}">
            <a class="nav-link" href="{% url 'profile' %}">
                <i class="ti-user menu-icon"></i>
                <span class="menu-title">Manage Profile</span>
            </a>
        </li>

        <li class="nav-item {{ manage_child }}">
            <a class="nav-link" href="{% url 'manage_child'%}">
                <i class="ti-receipt menu-icon"></i>
                <span class="menu-title">Manage Child</span>
            </a>
        </li>

        <li class="nav-item {{ common_form }}">
            <a class="nav-link" href="{% url 'common_form_view'%}">
                <i class="ti-receipt menu-icon"></i>
                <span class="menu-title">Common Form</span>
            </a>
        </li>
    </ul>
</nav>
<!-- partial -->