<!-- Footer Start -->
<footer class="py-5 text-white">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3 col-md-3 mb-4 mb-md-0">
                <h3 class="mb-md-3">Company</h3>
                <ul>
                    <li><a href="#" class="link">About Us</a></li>
                    <li><a href="#" class="link">Partners</a></li>
                    <li><a href="#" class="link">Team blogs</a></li>
                    <li><a href="#" class="link">Engineering blogs</a></li>
                    <li><a href="#" class="link">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 col-md-3 mb-4 mb-md-0">
                <h3 class="mb-md-3">Resources</h3>
                <ul>
                    <li><a href="#" class="link">Marketing blogs</a></li>
                    <li><a href="#" class="link">Chrome toolbar</a></li>
                    <li><a href="#" class="link">Case studies</a></li>
                    <li><a href="#" class="link">Video & Webiner</a></li>
                    <li><a href="#" class="link">Free tools</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 col-md-3 mb-4 mb-md-0">
                <h3 class="mb-md-3">Help & Support</h3>
                <ul>
                    <li><a href="#" class="link">Contact Us</a></li>
                    <li><a href="#" class="link">Help desk</a></li>
                    <li><a href="#" class="link">Software Updates</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 col-md-3 mb-4 mb-md-0">
                <h3 class="mb-md-3">Product</h3>
                <ul>
                    <li><a href="#" class="link">Features</a></li>
                    <li><a href="#" class="link">Pricing</a></li>
                    <li><a href="#" class="link">FAQs</a></li>
                    <li><a href="#" class="link">Knwolegde base</a></li>
                    <li><a href="#" class="link">A/B Testing Guide</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->