{% extends 'base.html' %}
{% load static %}

{% block title %}Explore Schools{% endblock %}
{% block style %}
<style>
    *::after,
    *::before,
    * {
        box-sizing: border-box;
    }

    .card {
        height: 230px;
        position: relative;
        overflow: hidden;
    }

    #left {
        width: 190px;
    }

    #left img {
        height: auto;
    }

    small {
        line-height: 1em;
        display: block;
    }

    @media only screen and (max-width: 425px) {
        #left {
            width: 100%;
        }
    }

    @media only screen and (max-width: 991px) {
        .card {
            height: auto;
        }
    }

    .stretched-link::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        pointer-events: auto;
        content: "";
        background-color: rgba(0, 0, 0, 0);
    }
</style>
{% endblock %}

{% block body %}

<!-- hero section start -->
<section class="explore-hero">
    <div class="explore-img">
        <img src="{% static 'assets/explore-hero.svg' %}">
    </div>
    <div style="position: absolute;top: 1em; left: 3em; color: white;">
        <nav aria-label="breadcrumb" class="d-inline">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" class="text-link">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>
    </div>
    <div class="container hero-search" style="height: 45vh; z-index: 1; display: grid;
        place-items: center;">
        <div class="search-box">
            <div class="search-text">
                <h2 class="text-center mb-3 fm-quicksand fw-700">Find Best School For Your Child</h2>
                <div class="d-flex input-group-lg">
                    <input type="text" class="form-control fm-quicksand-regular" placeholder="Search City"
                        style="border-radius: 999px 0px 0px 999px;">
                    <button class="btn bg-roof-terracotta text-white fm-quicksand fw-700 search-btn"
                        style="border-radius: 0px 999px 999px 0px;">Search
                        <img src="{% static 'assets/hero-svgs/Character.svg' %}"
                            class="character-svg d-none d-md-block">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <img src="{% static 'assets/explore-page/butterfly.svg' %}" class="butterfly d-none d-md-block">
    <img src="{% static 'assets/explore-page/bubbles.svg' %}" class="bubbles d-none d-md-block">
</section>
<!-- hero section end -->

<section class="mt-0 fm-quicksand background-svg">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">

                <div class="filters shadow rounded bg-white mb-3 d-md-block">
                    <div class="filters-header border-bottom p-3">
                        <h6 class="m-0 text-dark">Filter By</h6>
                    </div>
                    <div class="filters-body">
                        <div id="accordion">
                            <div class="filters-card border-bottom p-3">
                                <div class="filters-card-header" id="headingTwo">
                                    <h6 class="mb-0">
                                        <a href="#collapsetwo" class="btn-link d-flex justify-content-between"
                                            data-bs-toggle="collapse" data-target="#collapsetwo" aria-expanded="true"
                                            aria-controls="collapsetwo">
                                            <b>Class</b>
                                            <i class="fas fa-angle-down float-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapsetwo" class="collapse show" aria-labelledby="headingTwo"
                                    data-parent="#accordion">
                                    <div class="filters-card-body">
                                        <div class="button-group-pills" data-bs-toggle="buttons">
                                            <label class="btn btn-default active">
                                                <input type="checkbox" name="options" checked="">
                                                <div>Play grop</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>Pre-Nursery</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>Nursery</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>1</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>2</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>3</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>4</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>5</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>6</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>7</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>8</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>9</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>10</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>11</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>12</div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="accordion">
                            <div class="filters-card border-bottom p-3">
                                <div class="filters-card-header" id="headingThress">
                                    <h6 class="mb-0">
                                        <a href="#collapsethree" class="btn-link d-flex justify-content-between"
                                            data-bs-toggle="collapse" data-target="#collapsethree" aria-expanded="true"
                                            aria-controls="collapsethree">
                                            <b>Board</b>
                                            <i class="fas fa-angle-down float-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapsethree" class="collapse show" aria-labelledby="headingThress"
                                    data-parent="#accordion">
                                    <div class="filters-card-body">
                                        <div class="button-group-pills" data-bs-toggle="buttons">
                                            <label class="btn btn-default active">
                                                <input type="checkbox" name="options" checked="">
                                                <div>CBSE</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>CISCE</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>IGCSE</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>IB</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>Cambridge</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>State Board</div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="accordion">
                            <div class="filters-card border-bottom p-3">
                                <div class="filters-card-header" id="headingFour">
                                    <h6 class="mb-0">
                                        <a href="#collapsefour" class="btn-link d-flex justify-content-between"
                                            data-bs-toggle="collapse" data-target="#collapsefour" aria-expanded="true"
                                            aria-controls="collapsefour">
                                            <b>School Type</b>
                                            <i class="fas fa-angle-down float-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapsefour" class="collapse show" aria-labelledby="headingFour"
                                    data-parent="#accordion">
                                    <div class="filters-card-body">
                                        <div class="button-group-pills" data-bs-toggle="buttons">
                                            <label class="btn btn-default active">
                                                <input type="checkbox" name="options" checked="">
                                                <div>Boys</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>Girls</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>Co-ed</div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="accordion">
                            <div class="filters-card border-bottom p-3">
                                <div class="filters-card-header" id="headingFive">
                                    <h6 class="mb-0">
                                        <a href="#collapsefive" class="btn-link d-flex justify-content-between"
                                            data-bs-toggle="collapse" data-target="#collapsefive" aria-expanded="true"
                                            aria-controls="collapsefive">
                                            <b>Fees</b>
                                            <i class="fas fa-angle-down float-right"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapsefive" class="collapse show" aria-labelledby="headingFive"
                                    data-parent="#accordion">
                                    <div class="filters-card-body">
                                        <div class="button-group-pills" data-bs-toggle="buttons">
                                            <label class="btn btn-default active">
                                                <input type="checkbox" name="options" checked="">
                                                <div>Low to High</div>
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="options">
                                                <div>Hight to Low</div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-8">

                <!-- school details card  start-->
                {% for school in object_list %}
                <div class="card flex-column flex-md-row border-0 shadow mb-4 fw-500">
                    <div class="d-flex justify-content-center align-items-center ms-auto me-auto" id="left">
                        {% if 'https' in school.school_logo %}
                        <img src="{{ school.school_logo }}" alt="school-logo">
                        {% else %}
                        <img src="{% static 'assets/explore-page/school-logo.png' %}" alt="school-logo">
                        {% endif %}
                    </div>

                    <div class="card-body">
                        <div class="d-flex flex-column justify-content-between flex-lg-row">
                            <div style="max-width: 300px;">
                                <h5 class="fw-700 mb-0  text-truncate">{{ school.school_name }}</h5>
                                <small class="text-muted mb-2 d-block text-truncate"
                                    style="line-height: 1.5em; max-width: 300px;">{{ school.address }}</small>
                            </div>
                            <div class="d-flex gap-2 align-items-center mb-3">
                                <input type="checkbox" id="compare">
                                <lable for="compare" class="fw-700"><small>Compare</small></lable>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6 mb-2">
                                <small class="text-muted fw-700">Grade</small>
                                <div>{{ school.class_offered }}</div>
                            </div>
                            <div class="col-6 mb-2">
                                <small class="text-muted fw-700">Board</small>
                                <div>{{ school.board }}</div>
                            </div>
                            <div class="col-6 mb-2">
                                <small class="text-muted fw-700">Type</small>
                                <div>{{ school.co_ed_status }}</div>
                            </div>
                            <div class="col-6 mb-2">
                                <small class="text-muted fw-700">Student faculty ratio</small>
                                <div>{{ school.sf_ratio }}</div>
                            </div>
                        </div>

                        <div class="d-flex d-md-block float-md-end flex-column mt-2">
                            <a href="#" class="btn bg-wine-berry btn-dark text-uppercase fw-700">Apply Now</a>
                        </div>
                    </div>
                    <a href="{% url 'school_details' school.id %}" class="stretched-link"></a>
                </div>
                {% empty %}
                <h5 class="text-center">No Data Available</h5>
                {% endfor %}
                <!-- school details card  end-->

                <!-- pagination start -->
                <div class="d-flex justify-content-center align-items-center">
                    <nav class="mt-2">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">
                                    <span>&laquo;</span>
                                    <span>First</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"">
                                    <span>Previous</span>
                                </a>
                            </li>
                            {% endif %}

                            <li class=" page-item">
                                    <span class="page-link">
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                    </span>
                            </li>

                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span>Next</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                                    <span>Last</span>
                                    <span>&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <!-- pagination ends -->

            </div>
        </div>
    </div>
</section>


{% endblock %}